
@media screen and (max-width: 1024px) {
    .logo {
        max-width: 1024px;
        width: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .logo-img {
        max-width: 500px;
        width: 100%;
    }
    main {
        max-width: 1024px;
        margin: 0 auto;
    
    }
    .categories-tittle {
        max-width: 1024px;
        font-size: x-large;
        margin: 0 auto;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        /* max-width: 14em; */
        justify-content: center;
        text-align: center;
    }
    .categories-list {
        max-width: 1024px;
        width: 100%;
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(3, 1fr);
    }
    .product {
        margin-top: 25px;
        justify-content: space-between;
    }
    .product-img {
        display: block;
        max-width: 130px;
        width: 100%;
        height: 130px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        background-image: url(./img/small_pic.png);
    }
    .product-name {
    margin-top: 8px;
    color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: medium;
        text-align: center;
    
    }
    .product-price {
        margin-top: 8px;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: large;
        text-align: center;
    
    
    }
    .add-icon {
        width: 16px;
        height: 16px;
        margin-left: 25px;
    
    }
    
    
    footer {
        display: block;
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;

    }
    ul {
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: large;
        margin-top: 20px;

    }
    .contact-info {
        list-style: none;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: small;
    }
    .social .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 5px;
        padding: 0;

    }
    .social-icons {
        width: 30px;
    }
    .toggle-radio:checked + .categories .categories-list {
        max-height: fit-content; /* Задайте достатньо велике значення, яке перевищує висоту контенту */
        /* Додайте стилі для відображення списку категорій після розкриття */
      }
      /* Сховати оригінальний чекбокс */
      .toggle-radio {
        display: none;
      }
}
@media screen and (max-width: 767px) {
    .logo {
        max-width: 767px;
        width: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .logo-img {
        max-width: 450px;
        width: 100%;
    }
    main {
        max-width: 767px;
        margin: 0 auto;
    
    }
    .categories-tittle {
        max-width: 767px;
        font-size: large;
        margin: 0 auto;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        /* max-width: 14em; */
        justify-content: center;
        text-align: center;
    }
    .categories-list {
        max-width: 767px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .product {
        margin-top: 20px;
        justify-content: space-between;
    }
    .product-img {
        display: block;
        max-width: 130px;
        width: 100%;
        height: 130px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        background-image: url(./img/small_pic.png);
    }
    .product-name {
    margin-top: 8px;
    color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: large;
        text-align: center;
    
    }
    .product-price {
        margin-top: 8px;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: large;
        text-align: center;
    
    
    }
    .add-icon {
        width: 16px;
        height: 16px;
        margin-left: 25px;
    
    }
    
    
    footer {
        display: block;
        max-width: 767px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    ul {
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: large;
    }

    .social .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 5px;
    }
    .contact-info {
        list-style: none;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: small;
    }
    .social-icons {
        width: 30px;
        padding: 0;

    }
    .toggle-radio:checked + .categories .categories-list {
        max-height: fit-content; /* Задайте достатньо велике значення, яке перевищує висоту контенту */
        /* Додайте стилі для відображення списку категорій після розкриття */
      }
      /* Сховати оригінальний чекбокс */
      .toggle-radio {
        display: none;
      }
}
@media screen and (max-width: 550px) {
    .logo {
        max-width: 550px;
        width: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .logo-img {
        max-width: 450px;
        width: 100%;
    }
    main {
        max-width: 550px;
        margin: 0 auto;
    
    }
    .categories-tittle {
        max-width: 550px;
        font-size: large;
        margin: 0 auto;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        /* max-width: 14em; */
        justify-content: center;
        text-align: center;
    }
    .categories-list {
        max-width: 550px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .product {
        width: 185px;
        margin-top: 20px;
        justify-content: space-between;
    }
    .product-img {
        display: block;
        max-width: 150px;
        width: 100%;
        height: 150px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        background-image: url(./img/small_pic.png);
    }
    .product-name {
    margin-top: 8px;
    color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: large;
        text-align: center;
    
    }
    .product-price {
        margin-top: 8px;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: large;
        text-align: center;
    
    
    }
    .add-icon {
        width: 16px;
        height: 16px;
        margin-left: 25px;
    
    }
    
    
    footer {
        display: block;
        max-width: 550px;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }
    ul {
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: large;
        margin-top: 20px;

    }
    .social .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 5px;
        padding: 0;

    }
    .contact-info {
   
        list-style: none;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: small;
    }
  

    .toggle-radio:checked + .categories .categories-list {
        max-height: fit-content; /* Задайте достатньо велике значення, яке перевищує висоту контенту */
        /* Додайте стилі для відображення списку категорій після розкриття */
      }
      /* Сховати оригінальний чекбокс */
      .toggle-radio {
        display: none;
      }
}
@media screen and (max-width: 460px) {
    .logo {
        max-width: 460px;
        width: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .logo-img {
        max-width: 350px;
        width: 100%;
    }
    main {
        max-width: 460px;
        margin: 0 auto;
    
    }
    h2{
        font-size: large;
    }

    .categories-tittle {
        max-width: 450px;
        font-size: 16px;
        margin: 0 auto;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        /* max-width: 14em; */
        justify-content: center;
        text-align: center;
    }
    .categories-list {
        max-width: 460px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .product {
        display: block;
        justify-content: space-between;
    }
    .product-img {
        display: block;
        max-width: 200px;
        width: 100%;
        height: 200px;
        margin: 0 auto;
        background-image: url(./img/small_pic.png);
        background-size: 200px 200px;
    }
    .product-name {
    margin-top: 8px;
    color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: x-large;
        text-align: center;
    margin: 0;
    }
    .description {
        max-width: 200px;
        width: 100%;
        height: auto;
        color: #8B5E3B;
        font-size: 14px;
        margin: 0;
    }
    .product-price {
        margin: 0;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: x-large;
        text-align: center;
    
    
    }
    .add-icon {
        width: 20px;
        height: 20px;
    margin-left: 30px;
    }
    
    
    footer {
        display: block;
        max-width: 767px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    ul {
        margin-top: 20px;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: large;
        padding: 0;

    }
    .social .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .contact-info {
        list-style: none;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: small;
    }
    
    .toggle-radio:checked + .categories .categories-list {
        max-height: fit-content; /* Задайте достатньо велике значення, яке перевищує висоту контенту */
        /* Додайте стилі для відображення списку категорій після розкриття */
      }
      /* Сховати оригінальний чекбокс */
      .toggle-radio {
        display: none;
      }
}
