
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
h2 {

text-align: center;
font-family: 'Spectral', serif;
color: #8B5E3B;
}
main {
    max-width: 1440px;
margin: 0 auto;

}
/* .cart{
    display: flex;
    justify-content: right;
    max-width: 1440px;
    width: 100%;
    margin:  auto;
    align-items: center;
}
.cart-icon {
    max-width: 30px;
    width: 100%;
    margin-right: 100px;
}
.cart-text {
    margin-right: 10px;
  } */

.categories-tittle {
    max-width: 1440px;
    font-size: xx-large;
    margin: 0 auto;
    color: #8B5E3B;
    font-family: 'Spectral', serif;
    /* max-width: 14em; */
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.categories-list {
    max-width: 1440px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.product {
    margin-top: 30px;
    justify-content: space-between;
}
.product-img {
    display: block;
    max-width: 150px;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-image: url(./img/small_pic.png);
}
.product-name {
margin-top: 10px;
color: #8B5E3B;
    font-family: 'Spectral', serif;
    font-size: large;
    text-align: center;

}
.weight {
    color: #8B5E3B;
    font-family: 'Spectral', serif;
    font-size: small;
    text-align: center;
}
.description {
width: 150px;
height: 60px;
margin: 0 auto;
color: #8B5E3B;
    font-family: 'Spectral', serif;
    font-size: small;
}

.product-price {
    margin-top: 10px;
    color: #8B5E3B;
    font-family: 'Spectral', serif;
    font-size: x-large;
    text-align: center;


}
.add-icon {
    width: 20px;
    height: 20px;
    margin-left: 30px;
    /* color: #8B5E3B; */

}


footer {
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}
ul {
    color: #8B5E3B;
    font-family: 'Spectral', serif;
    font-size: x-large;
}
.contact-info {
    list-style: none;
    color: #8B5E3B;
    font-family: 'Spectral', serif;
    font-size: large;
}


@media screen and (max-width: 1024px) {
    .logo {
        max-width: 1024px;
        width: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .logo-img {
        max-width: 500px;
        width: 100%;
    }
    main {
        max-width: 1024px;
        margin: 0 auto;
    
    }
    .categories-tittle {
        max-width: 1024px;
        font-size: x-large;
        margin: 0 auto;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        /* max-width: 14em; */
        justify-content: center;
        text-align: center;
    }
    .categories-list {
        max-width: 1024px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .product {
        margin-top: 25px;
        justify-content: space-between;
    }
    .product-img {
        display: block;
        max-width: 130px;
        width: 100%;
        height: 130px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        background-image: url(./img/small_pic.png);
    }
    .product-name {
    margin-top: 8px;
    color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: medium;
        text-align: center;
    
    }
    .product-price {
        margin-top: 8px;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: large;
        text-align: center;
    
    
    }
    .add-icon {
        width: 16px;
        height: 16px;
        margin-left: 25px;
    
    }
    
    
    footer {
        display: flex;
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }
    ul {
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: large;
    }
    .contact-info {
        list-style: none;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: medium;
    }
}
@media screen and (max-width: 767px) {
    .logo {
        max-width: 767px;
        width: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .logo-img {
        max-width: 450px;
        width: 100%;
    }
    main {
        max-width: 767px;
        margin: 0 auto;
    
    }
    .categories-tittle {
        max-width: 767px;
        font-size: large;
        margin: 0 auto;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        /* max-width: 14em; */
        justify-content: center;
        text-align: center;
    }
    .categories-list {
        max-width: 767px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .product {
        margin-top: 20px;
        justify-content: space-between;
    }
    .product-img {
        display: block;
        max-width: 130px;
        width: 100%;
        height: 130px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        background-image: url(./img/small_pic.png);
    }
    .product-name {
    margin-top: 8px;
    color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: large;
        text-align: center;
    
    }
    .product-price {
        margin-top: 8px;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: large;
        text-align: center;
    
    
    }
    .add-icon {
        width: 16px;
        height: 16px;
        margin-left: 25px;
    
    }
    
    
    footer {
        display: flex;
        max-width: 767px;
        width: 100%;
        margin: 0 auto;
    }
    ul {
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: small;
    }
    .contact-info {
        list-style: none;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: small;
    }
}
@media screen and (max-width: 550px) {
    .logo {
        max-width: 550px;
        width: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .logo-img {
        max-width: 450px;
        width: 100%;
    }
    main {
        max-width: 550px;
        margin: 0 auto;
    
    }
    .categories-tittle {
        max-width: 550px;
        font-size: large;
        margin: 0 auto;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        /* max-width: 14em; */
        justify-content: center;
        text-align: center;
    }
    .categories-list {
        max-width: 550px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .product {
        margin-top: 20px;
        justify-content: space-between;
    }
    .product-img {
        display: block;
        max-width: 150px;
        width: 100%;
        height: 150px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        background-image: url(./img/small_pic.png);
    }
    .product-name {
    margin-top: 8px;
    color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: large;
        text-align: center;
    
    }
    .product-price {
        margin-top: 8px;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: large;
        text-align: center;
    
    
    }
    .add-icon {
        width: 16px;
        height: 16px;
        margin-left: 25px;
    
    }
    
    
    footer {
        display: flex;
        max-width: 550px;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
    ul {
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: small;
    }
    .contact-info {
        list-style: none;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: small;
    }

}
@media screen and (max-width: 460px) {
    .logo {
        max-width: 460px;
        width: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .logo-img {
        max-width: 350px;
        width: 100%;
    }
    main {
        max-width: 460px;
        margin: 0 auto;
    
    }
    h2{
        font-size: large;
    }
    .categories-tittle {
        max-width: 450px;
        font-size: x-large;
        margin: 0 auto;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        /* max-width: 14em; */
        justify-content: center;
        text-align: center;
    }
    .categories-list {
        max-width: 460px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .product {
        margin-top: 20px;
        justify-content: space-between;
    }
    .product-img {
        display: block;
        max-width: 200px;
        width: 100%;
        height: 200px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        background-image: url(./img/small_pic.png);
        background-size: 200px 200px;
    }
    .product-name {
    margin-top: 8px;
    color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: x-large;
        text-align: center;
    
    }
    .product-price {
        margin-top: 8px;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: x-large;
        text-align: center;
    
    
    }
    .add-icon {
        width: 20px;
        height: 20px;
        margin-left: 25px;
    
    }
    
    
    footer {
        display: flex;
        max-width: 767px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    ul {
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: small;
    }
    .contact-info {
        list-style: none;
        color: #8B5E3B;
        font-family: 'Spectral', serif;
        font-size: small;
    }
    
}






